.test {
  background-color: rgb(229, 215, 243) !important;
  font-size: large !important;
  display: flex;
  width: 100%;
  margin-top: 60%;
  flex-direction: column;
}

.footer-container {
display: flex;
justify-content:center;
margin-top: 1%;
margin-bottom: 1%;
height: max-content;
gap: 30px 20px;
}


.copy-right-footer {
text-align: center;
margin-bottom: 2%;
}