.landing {
  /* center the div in the middle of the page */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30rem;
  width: 80rem;
  margin: 15% auto;
  background: var(--second);
  color: var(--fourth);
}

.landing ::placeholder {
  color: var(--fifth);
}

.landing ::placeholder:hover {
  color: var(--third);
}

.landing input {
  display: flex;
  background: var(--second);
  color: var(--third);
  width: 30rem;
  height: 4rem;
  border: 1px solid var(--third);
  margin: 0 1rem;
  font-size: 1.6rem;
}

.landing button {
  background: var(--third);
  color: var(--second);
  width: 10rem;
  height: 4rem;
  border: 1px solid var(--third);
  margin: 1rem auto;
  font-size: 1.6rem;
}

h1 {
  font-size: 3rem;
}

p {
  font-size: 1.8rem;
}
